<div class="container">
  <div class="row pb-5 mb-4">
    <div
      class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 mb-lg-0"
      *ngFor="let image of dataStore.Images"
    >
      <a [routerLink]="['/images', image.id]">
        <div class="card rounded shadow-sm border-0 mb-5">
          <div class="card-body p-4">
            <img
              [src]="image.path"
              class="img-product d-block mb-3"
              alt="Image"
            />
            <div class="row">
              <div class="col-lg-10 col-md-10">
                <h5 *ngIf="image.description != ''">
                  {{ image.description.substr(0, 15) }}
                  <span *ngIf="image.description.length > 15">...</span>
                </h5>
                <h5 *ngIf="image.description == ''">
                  {{ image.alt_description.substr(0, 15) }}
                  <span *ngIf="image.alt_description.length > 15"> ... </span>
                </h5>
                <p class="font-bold mb-2">
                  {{ image.created_at | date: "dd / MM / yyyy" }}
                </p>
              </div>
            </div>
            <div class="padding-bottom">
              <button class="eye">
                <fa-icon [icon]="faEye"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <nav aria-label="pagination" class="pagination">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ disabled: dataStore.Page == 1 }">
        <a class="page-link" aria-label="Previous" (click)="paginationL()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li
        class="page-item"
        [ngClass]="{ disabled: dataStore.Images.length < 24 }"
      >
        <a class="page-link" aria-label="Next" (click)="paginationR()">
          <fa-icon [icon]="faArrowRight"></fa-icon>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
