.card:hover {
  transform: scale(1.03);
}
.card {
  object-fit: contain;
  transition: transform 200ms ease-out;
}

.img-product {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.col-lg3,
.col-md-6,
.mb-4,
.mb-lg-0 {
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

.card-body {
  padding: 0px !important;
  text-align: center;
}

.font-bold {
  opacity: 50%;
}

.eye {
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
  background-color: var(--clr-light);
}

.padding-bottom {
  padding-bottom: 5px;
}
